export GOOGLE_CLIENT_ID=530898466008-j3p10kd3pvm59pkf7srmma5muc6k3slc.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=nXfMkrlaiabwyAINHqGXz_G_
export GOOGLE_ACCESS_TOKEN_URL=https://accounts.google.com/o/oauth2/v2/auth


#https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/drive&response_type=code&access_type=offline&redirect_uri=http://localhost:3000/auth/google&client_id=530898466008-j3p10kd3pvm59pkf7srmma5muc6k3slc.apps.googleusercontent.com
#http://localhost:3000/auth/google?code=4/1wFFceX5-xk6zGn9zhdteEcWvutHX6OW3v6vm_Oj_9ULDshQATZ9wDtESmjymQ8MwVNcrOxpXsWCeLhmoRgSz_8&scope=https://www.googleapis.com/auth/drive
